body {
  background-color: rgb(150, 202, 250);
  font-family: "cookie", sans-serif;
}

header {
  background-color: #ffdef5;
  position: sticky;
  top: 0;
}

.topp-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e89bb2;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #ffdef5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1 {
  color: #e89bb2;
  font-size: 50px;
  display: inline-block;
  width: fit-content;
  padding: 6px 10px;
  text-decoration: none;
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.1);
  background: none;
}

h1 a {
  color: #e89bb2;
  font-size: 25px;
  display: inline-block;
  width: fit-content;
  padding: 6px 10px;
  text-decoration: none;
  transition: all 0.25s ease;
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.4);
}

h1:hover {
  transform: translateX(-3px);
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.menu-naglar {
  font-size: 30px;
  transition: all 0.25s ease;
  text-align: right;
}

.menu-naglar:hover {
  transform: translateX(-10px);
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.menu-home {
  font-size: 30px;
  position: relative;
  transition: all 0.25s ease;
}

.menu-home:hover {
  transform: translateX(-10px);
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.about-intro {
  color: black;
  font-size: 30px;
  text-align: center;
  margin: 50px;
}

.kontakt-form {
  background-color: #ffdef5;
  padding: 20px;
}

.kontakt-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffe6f8;
}

.footer-container {
  background-color: #e89bb2;
  color: white;
  text-align: center;
  font-size: 30px;
}

.footer-container a {
  padding: 10px;
  font-size: 45px;
  margin-top: 10px;
}

.footer-container a:hover {
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.footer-text {
  font-size: 20px;
  margin-top: 10px;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  background-color: #e89bb2;
  padding: 10px;
}

.sticky-footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.sticky-footer ul li a {
  color: #ffe6f8;
  font-size: 30px;
  transition: all 0.25s ease;
}

.sticky-footer ul li a:hover {
  transform: translateY(-5px);
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .topp-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .menu-naglar,
  .menu-home {
    font-size: 20px;
    text-align: center;
  }

  .about-intro {
    font-size: 20px;
    margin: 20px;
  }

  .footer-container {
    font-size: 20px;
  }

  .footer-container a {
    font-size: 30px;
  }

  .sticky-footer ul li a {
    font-size: 20px;
  }

  .sticky-footer ul {
    flex-direction: column;
    gap: 10px;
  }

  .sticky-footer ul li {
    margin-bottom: 10px;
  }
}
