body {
  background-color: #ffe6f8;
  font-family: "Cookie", sans-serif;
}

header {
  background-color: #ffdef5;
  top: 0;
}

.topp-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e89bb2;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1 {
  background: none;
  display: inline-block;
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2);
}

h1 a {
  color: #e89bb2;
  font-size: 25px;
  display: inline-block;
  width: fit-content;
  padding: 6px 10px;
  text-decoration: none;
  transition: all 0.25s ease;
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.4);
}

h1:hover {
  transform: translateX(-3px);
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.menu-home {
  font-size: 30px;
  position: relative;
  transition: all 0.25s ease;
}

.menu-home:hover {
  transform: translateX(-10px);
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.menu-about {
  font-size: 30px;
  position: relative;
  transition: all 0.25s ease;
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2);
}

.menu-about:hover {
  transform: translateX(-10px);
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.nail-gallery {
  column-count: 3;
  column-gap: 50px;
  max-width: 900px;
  margin: auto;
}

.nail-gallery img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 12px;
  display: block;
}

.nail-gallery img:hover {
  transform: scale(1.15);
  transition: all 0.25s ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffe6f8;
}

.footer-container {
  background-color: #e89bb2;
  color: white;
  text-align: center;
  font-size: 30px;
}

.footer-container a {
  padding: 10px;
  font-size: 45px;
}

.footer-container a:hover {
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.footer-text {
  font-size: 20px;
  margin-top: 10px;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  background-color: #e89bb2;
  padding: 10px;
}

.sticky-footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.sticky-footer ul li a {
  color: #ffe6f8;
  font-size: 30px;
  transition: all 0.25s ease;
}

.sticky-footer ul li a:hover {
  transform: translateY(-5px);
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
  text-decoration: underline;
}
