:root {
  --grid-unit: 1rem --border-radius-base: 0.5rem;
}

[data-theme="light"] {
  --color-bg: #ffe6f8;
  --color-fg: #e89bb2;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  font-family: "cookie", sans-serif;
  color: #ffe6f8;
}
.hero {
  background-image: url(/bilder/Gradientbild.png);
  background-size: 100% 150vh;
  background-position: center;
  background-repeat: no-repeat;
  height: 78vh;
}

header {
  background-color: #ffdef5;
  position: sticky;
  top: 0;
}

.topp-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e89bb2;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #ffdef5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1 {
  color: #e89bb2;
  font-size: 50px;
  display: inline-block;
  width: fit-content;
  padding: 6px 10px;
  text-decoration: none;
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.1);
  background: none;
}

.menu-naglar {
  font-size: 30px;
  transition: all 0.25s ease;
  text-align: right;
}

.menu-naglar:hover {
  transform: translateX(-10px);
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.menu-about {
  font-size: 30px;
  position: relative;
  transition: all 0.25s ease;
}

.menu-about:hover {
  transform: translateX(-10px);
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

h2 {
  color: #ffe6f8;
  font-size: 100px;
  text-align: center;
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

h3 {
  color: #ffe6f8;
  font-size: 75px;
  text-align: center;
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

h4 {
  color: #ffe6f8;
  font-size: 50px;
  text-align: center;
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.get-started {
  background-color: #e89bb2;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-family: "cookie", sans-serif;
  font-size: 27px;
  width: 110px;
  transition: all 200ms ease-in;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}
.get-started:hover {
  background-color: #c25d89;
  transform: scale(1.1);
}

.trending-nails {
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
  animation: my-animation 1s infinite alternate;
}

@keyframes my-animation {
  0% {
    color: #e89bb2;
  }
  100% {
    color: #c25d89;
  }
}

.manicure-container {
  display: flex;
  flex-direction: row;
  margin: 140px;
  gap: 180px;
}

.top-rated-image {
  width: 100%;
  height: 100%;
}

.top-rated-image:hover {
  transform: scale(1.15);
  transition: all 0.25s ease-in-out;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffe6f8;
}

.footer-container {
  background-color: #e89bb2;
  color: white;
  text-align: center;
  font-size: 30px;
}

.footer-container a {
  padding: 10px;
  font-size: 45px;
  margin-top: 10px;
}

.footer-container a:hover {
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.footer-text {
  font-size: 20px;
  margin-top: 10px;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  background-color: #e89bb2;
  padding: 10px;
}

.sticky-footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.sticky-footer ul li a {
  color: #ffe6f8;
  font-size: 30px;
  transition: all 0.25s ease;
}

.sticky-footer ul li a:hover {
  transform: translateY(-5px);
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  header {
    text-align: center;
  }

  .topp-nav ul {
    display: block;
    text-align: center;
    padding: 0;
  }

  .topp-nav ul li {
    display: block;
    padding: 10px;
  }

  .hero {
    height: auto;
    background-size: cover;
    padding: 40px 0;
  }

  h1 {
    font-size: 60px;
    text-align: center;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  .manicure-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 20px;
  }

  .top-rated-image {
    width: 80%;
    margin: 0 auto;
  }

  footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer_container a {
    padding: 13px 45px;
    font-size: 20px;
    margin-top: 10px;
  }

  .footer-text {
    font-size: 16px;
    margin-top: 10px;
  }

  .sticky-footer ul {
    flex-direction: column;
    gap: 10px;
  }

  .sticky-footer ul li a {
    font-size: 20px;
  }
}
